# History files
.Rhistory
.Rapp.history

*~
*.swp
*.stswp

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Office temp files
~$*

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
.Rproj.user
.Rdata
.DS_Store
.quarto

# Consensus Economics Data (Confidential)
inst/data/raw/ce/
inst/data/raw/gravity/
inst/data/raw/crises/
inst/data/raw/eikon/
inst/data/raw/epu/
inst/data/raw/icrg/
inst/data/raw/bis/
inst/data/raw/indprod/
inst/data/raw/msci/
inst/data/raw/recession/
inst/data/raw/stock_market/
inst/data/raw/vix/
inst/data/produced/eikon/
inst/data/produced/ce/
inst/data/produced/ce_imf/
inst/data/produced/bis/
inst/data/produced/epu/
inst/data/produced/icrg/
inst/data/produced/indprod/
inst/data/produced/stock_market/
inst/data/produced/gravity/
inst/data/produced/msci/
inst/data/produced/vix/
inst/data/produced/worldbank/
inst/data/produced/recession/
inst/data/produced/temp/
output/temp_data/
data/